

<PageTitle>@(Description + " | " + Title + " | Reclamos Casas Prefabridas")</PageTitle>

<HeadContent>
    <meta name="description" content="@Description">
</HeadContent>

<SfDialog Width="250px" IsModal="true" @bind-Visible="@IsVisibleModal">
    <DialogTemplates>
        <Content> Guardando datos... </Content>
    </DialogTemplates>
</SfDialog>


<h1>@Title</h1>
<hr />
    <EditForm Model="@claimsForm" OnValidSubmit="SaveUser" >
    <DataAnnotationsValidator />
    <div class="mb-3">
            <label for="NameCompany" class="form-label">Nombre empresa (o maestro)</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="claimsForm.NameCompany" />
        </div>
        <ValidationMessage For="@(() => claimsForm.NameCompany)" />
    </div>
    <div class="mb-3">
            <label for="RUT" class="form-label">RUT (empresa o maestro proveedor)</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="claimsForm.RUT" />
        </div>
        <ValidationMessage For="@(() => claimsForm.RUT)" />
    </div>
    <div class="mb-3">
            <label for="DateCommitment" class="form-label">Fecha de contrato o acuerdo</label>
        <div class="col-md-4">
            <InputDate class="form-control" @bind-Value="claimsForm.DateCommitment" />
        </div>
        <ValidationMessage For="@(() => claimsForm.DateCommitment)" />
    </div>
    <div class="mb-3">
            <label for="ProblemDescription" class="form-label">Descripción del reclamo</label>
        <div class="col-md-4">
            <InputTextArea class="form-control" @bind-Value="claimsForm.ProblemDescription" rows="12" />
        </div>
        <ValidationMessage For="@(() => claimsForm.ProblemDescription)" />
    </div>
    <div class="mb-3">
        <label class="form-label">Subir imagenes</label>
        <div class="col-md-4">
                <span class="text-success">(Intente subir imágenes de bajo tamaño para que la carga sea más rápida. Una vez cargadas las imágenes hacer click en el botón "Enviar"</span>
            <SfUploader @ref="sfUploader" AutoUpload="true" AllowedExtensions=".jpg,.png,.jpeg">
                    <UploaderEvents ValueChange="SfUpload_OnChange" OnActionComplete="@OnActionCompleteHandler" Success="@SuccessHandler" FileSelected="@FileSelectedHandler"></UploaderEvents>
            </SfUploader>
            
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Enviar</button>
        <button class="btn btn-secondary" @onclick="Cancel">Cancelar</button>
    </div>
</EditForm>

